/*****************
font-family: 'Cabin', sans-serif;
font-family: 'Droid Sans', sans-serif;
*****************/
/*********
Universal Styles
*********/
 
* {
	box-sizing: border-box;
	font-family: 'Droid Sans';
	color: white;
}

ul {
	list-style: none;
}

html, body, .container {
	height:100%;
	width: 100%;
	/*max-width: 1100px;*/
	background-color: transparent;
}

html {
	margin-left: auto;
    margin-right: auto;
    background-image: url(../src/img/sky2.jpg);
    background-repeat: no-repeat;
    background-attachment: fixed;
    background-position: cover;
}

select {
	background-color: transparent;
    border: 1px solid lightgray;
}

option {
	background-color: gray;
}

/*****************
Default Grid Settings
*****************/

/*Defaults for div row grid*/
.row {
	max-width: 1000px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}

.row::before, 
.row::after {
	display: table;
	content: '';
}

.row::after {
	clear: both;
}

/*Defaults for columns*/

.col-3, .col-4, .col-6, .col-12 {
	float: left;
	padding-right: 1.04166666%;
	padding-left: 1.04166666%;
}

/*Mobile defaults*/

.col-3, .col-4, .col-6, .col-12 {
	width: 100%;
}

/*****************
640px screen or larger
*****************/





/*****************
Container HTML
*****************/
.container {
	margin-top: 55px;
}

/*****************
App Component
*****************/
.app-container {

}


/*****************
Header Component
*****************/
.header-container {
	background-color: rgb(0, 102, 255);
	position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
    z-index: 5;
}

.header-container > h1 {
	text-align: center;
	margin: 0;
    padding: 6px;
}


/*****************
Tabs Component
*****************/
.tabs {
	/*background-color: transparent; /* Place holder */
	padding-left: 0;
	margin-bottom: 0;
	text-align: center;
}

.tabs > a > li {
	list-style: none;
    display: inline-block;
    width: 40%;
    text-align: center;
    font-size: 16px;
    background-color: rgba(255,255,255,0.8);
}

.tab {
	padding: 10px 0;
    color: blue;
}

.tab:focus {
	background-color: transparent;
    color: white;
}


/*****************
Current Component
*****************/
.current-container {
	background-color: transparent;
	margin-bottom: 5px;
	position: relative;
}

.current-weather {
	display: inline-block;
    width: 50%;
    padding: 20px;
}

.current-temp, .current-range, .current-humidity {
	text-align: center;
    align-items: inherit;
}

.current-range, .current-humidity {
		font-size: 13px;
}

.current-temp {
	font-size: 41px;
	font-weight: bold;

}

.current-symb {
	font-size: 13px;
}

.current-container > select {
	position: absolute;
    top: 5px;
    right: 5px;
    height: 36px;
}

/*****************
FiveDay Component
*****************/
.fiveday-container {
	background-color: transparent;	
}

.fiveday-container > ul > li {
    margin: 5px 0;
    height: 100px;
    padding: 18px 10px;
    border-bottom: 2px solid lightgray;

}

.fiveday-container > ul {
	padding: 0 8px;
}

.five-day {
	display: inline-block;
	width:35%;
	font-size: 25px;
    font-weight: bold;
}

.fiveday-container > ul > li:nth-child(5) {
	border-bottom: none
}

.five-temps {
	display: inline-block;
	width: 30%;
    text-align: center;
    vertical-align: middle;
}

.five-hi, .five-lo {
	margin-bottom: 5px;
}

.five-img-cont {
	display: inline-block;
}

.five-img {
	height: 70px;
}

/*****************
Precip Container
*****************/
#mapid { 
	height: 180px; 
}

.leaflet-container {
    height: 400px;
    width: 100%;
}

/*****************
Alert Container
*****************/
.alerts-hdr {
    color: red;
    text-align: center;
    padding: 14px;
    font-size: 22px;
    font-weight: bold;
    margin: 0;
}

.alerts-container {
	background-color: transparent;
}

.alert-day	{
	display: inline-block;
    font-size: 19px;
    font-weight: bold;
    width: 50%;
}

.alert-date {
	font-size: 18px;
	font-weight: normal;
}

.alert-temp {
	display: inline-block;
    width: 25%;
    font-size: 15px;
    text-align: center;
}

/*****************
Precip container
*****************/
.Precip-container {
	height: 90vh;
}

.leaflet-container {
	height:83vh;
	position: absolute;
    right: 0;
    left: 0;
    bottom: 0;
}

/*****************
Pollut container
*****************/
.pollut-container {
	display: inline-block;
    width: 40%;
    text-align: center;
}

.pollut-container > h3 {
	font-size: 17px;
	font-weight: bold;
}

.pollut-container > p > span {
	font-weight: bold;
}




@media only screen and ( min-width: 600px ) {

/*****************
*****************/


/*****************
Current Component
*****************/
.current-temp {
	font-size: 60px;
}

.current-range, .current-humidity {
    font-size: 16px;
}

.leaflet-container {
    height: 86vh;
}

/*****************
Pollute Comp
*****************/
.pollut-container > h3 {
    font-size: 28px;
}

.pollut-container > p {
	font-size: 20px;
}

/*****************
fiveday comp
*****************/
.five-day {
	font-size: 35px;
}


/*****************
Alerts comp
*****************/
.alerts-hdr {
	font-size: 41px;
}

.alert-day {
	font-size: 30px;
}

.alert-temp {
	font-size: 22px;
}




@media only screen and (min-width: 992px) {
	.col-3 {
		width: 25%;
	}

	.col-4 {
		width: 33.33%;
	}

	.col-6 {
		width: 50%;
	}


	.alerts-container {
		border-left: 1px solid white;

	}
}
/*****************
Tabs comp
*****************/
.tabs > a > li {
    font-size: 25px;
}


/*****************
Current comp
*****************/
.current-temp {
	font-size: 80px;
}

/*****************
Pollute comp
*****************/
.pollut-container > h3 {
    font-size: 37px;
}

/*****************
*****************/

/*****************
*****************/


/*****************
*****************/


/*****************
*****************/


/*****************
*****************/


/*****************
*****************/


/*****************
*****************/


/*****************
*****************/


/*****************
*****************/


/*****************
*****************/


/*****************
*****************/
