/*****************
*****************/
/*********
Universal Styles
*********/
 
* {
	box-sizing: border-box;
}

html, body, .container {
	height:100%;
	width: 100%;
	max-width: 1100px;
	background-color: lightgray;
}

/*****************
Default Grid Settings
*****************/

/*Defaults for div row grid*/
.row {
	max-width: 1000px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}

.row::before, 
.row::after {
	display: table;
	content: '';
}

.row::after {
	clear: both;
}

/*Defaults for columns*/

.col-3, .col-4, .col-6, .col-12 {
	float: left;
	padding-right: 1.04166666%;
	padding-left: 1.04166666%;
}

/*Mobile defaults*/

.col-3, .col-4, .col-6, .col-12 {
	width: 100%;
}

/*****************
640px screen or larger
*****************/

@media only screen and (min-width: 640px) {
	.col-3 {
		width: 25%;
	}

	.col-4 {
		width: 33.33%;
	}

	.col-6 {
		width: 50%;
	}
}



/*****************
Container HTML
*****************/
.container {
	margin-top: 55px;
}

/*****************
App Component
*****************/
.app-container {

}


/*****************
Header Component
*****************/
.header-container {
	background-color: lightblue;  /* Place holder */
	position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
}


/*****************
Tabs Component
*****************/
.tabs {
	background-color: gray; /* Place holder */
	padding-left: 0;
}

.tabs > a > li {
	list-style: none;
    display: inline-block;
    width: 50%;
    text-align: center;
}


/*****************
Current Component
*****************/
.current-container {
	background-color: white;
	margin-bottom: 5px;
}

.current-temp, .current-range, .current-humidity {
	text-align: center;
    width: 50%;
    align-items: inherit;
}


/*****************
FiveDay Component
*****************/
.fiveday-container {
	background-color: white;	
}


/*****************
*****************/


/*****************
*****************/


/*****************
*****************/


/*****************
*****************/


/*****************
*****************/


/*****************
*****************/

/*****************
*****************/


/*****************
*****************/