/*****************
*****************/
/*********
Universal Styles
*********/
 
* {
	box-sizing: border-box;

}

ul {
	list-style: none;
}

html, body, .container {
	height:100%;
	width: 100%;
	max-width: 1100px;
	background-color: lightgray;
}

/*****************
Default Grid Settings
*****************/

/*Defaults for div row grid*/
.row {
	max-width: 1000px;
	padding-left: 20px;
	padding-right: 20px;
	margin: 0 auto;
}

.row::before, 
.row::after {
	display: table;
	content: '';
}

.row::after {
	clear: both;
}

/*Defaults for columns*/

.col-3, .col-4, .col-6, .col-12 {
	float: left;
	padding-right: 1.04166666%;
	padding-left: 1.04166666%;
}

/*Mobile defaults*/

.col-3, .col-4, .col-6, .col-12 {
	width: 100%;
}

/*****************
640px screen or larger
*****************/

@media only screen and (min-width: 640px) {
	.col-3 {
		width: 25%;
	}

	.col-4 {
		width: 33.33%;
	}

	.col-6 {
		width: 50%;
	}
}



/*****************
Container HTML
*****************/
.container {
	margin-top: 55px;
}

/*****************
App Component
*****************/
.app-container {

}


/*****************
Header Component
*****************/
.header-container {
	background-color: lightblue;  /* Place holder */
	position: fixed;
    left: 0;
    top: 0;
    right: 0;
    height: 50px;
}


/*****************
Tabs Component
*****************/
.tabs {
	background-color: gray; /* Place holder */
	padding-left: 0;
}

.tabs > a > li {
	list-style: none;
    display: inline-block;
    width: 50%;
    text-align: center;
}


/*****************
Current Component
*****************/
.current-container {
	background-color: white;
	margin-bottom: 5px;
	position: relative;
}

.current-weather {
	display: inline-block;
    width: 50%;
    padding: 20px;
}

.current-temp, .current-range, .current-humidity {
	text-align: center;
    align-items: inherit;
}

.current-temp {
	font-size: 58px;
}

.current-symb {
	font-size: 20px;
}

.current-container > select {
	position: absolute;
    top: 5px;
    right: 5px;
    height: 36px;
}

/*****************
FiveDay Component
*****************/
.fiveday-container {
	background-color: white;	
}

.fiveday-container > ul > li {
    margin: 5px 0;
    height: 100px;
    padding: 18px 10px;
    border-bottom: 2px solid lightgray;

}

.fiveday-container > ul {
	padding: 0 8px;
}

.five-day {
	display: inline-block;
	width:35%;
	font-size: 25px;
}

.five-temps {
	display: inline-block;
	width: 30%;
    text-align: center;
    vertical-align: middle;
}

.five-hi, .five-lo {
	margin-bottom: 5px;
}

.five-img-cont {
	display: inline-block;
}

.five-img {
	height: 70px;
}

/*****************
Precip Container
*****************/
#mapid { 
	height: 180px; 
}

.leaflet-container {
    height: 400px;
    width: 100%;
}

/*****************
Alert Container
*****************/
.alerts-hdr {
	background-color: red;
    color: black;
    text-align: center;
    padding: 14px;
}

.alerts-container {
	background-color: white;
}

.alert-day	{
	display: inline-block;
    font-size: 30px;
    width: 50%;
}

.alert-temp {
	display: inline-block;
    width: 25%;
    font-size: 22px;
}

/*****************
Precip container
*****************/
.Precip-container {
	height: 90vh;
}

.leaflet-container {
	height:83vh;
}

/*****************
Pollut container
*****************/
.pollut-container {
	display: inline-block;
    width: 40%;
    text-align: center;
}



/*****************
*****************/


/*****************
*****************/

/*****************
*****************/


/*****************
*****************/

